.jumbotron {
    background-image: url('../images/cover-main.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    color: #3a2820;
    border-radius: 0px !important;
}

.masthead {
    background-image: url('../images/cover-main.jpg');
    background-size: cover;

  }

  body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
   }
   
   h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
   }

   .navbar {
       background-color: #f8f4f2 !important;
   }

   .logos img {
       width: 165px;
   }

   /* .carousel-inner .carousel-item{
    height: 600px;
 } */